[Unit]
Description=BELABOXWS LESSGOOO
After=network.target

[Service]
ExecStart=/usr/bin/nodejs /home/user/BELABOX-Cloud-Homemade/src/index.js
Restart=always
RestartSec=1
WorkingDirectory=/root/BELABOX-Cloud-Homemade

[Install]
WantedBy=multi-user.target
